.calculator__container {
  display: grid;
  align-items: center;
}

.calculator__content {
  display: flex;
  border-radius: 16px;
  background: #f3f3f4;
  align-items: center;
  width: 470px;
  height: 68px;
}

.calculator__content-input {
  width: 35px;
  margin-left: 220px;
}

form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  align-items: center;
}

form .btn {
  width: 470px;
  height: 68px;
  padding: 8px 16px 12px;
  font-size: 30px;
}

form .btn:hover {
  background: var(--color-black);
  color: var(--color-white);
}

label {
  display: grid;
}

input {
  background: #f3f3f4;
  font-family: "Nekst-Black";
  font-size: 30px;
  margin-left: 24px;
  width: 370px;
}

input[type="number"]:focus {
  background-color: transparent;
}
.calculator__content:focus-within {
  border: 2px solid #f3f3f4;
  background-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.slider {
  -webkit-appearance: none;
  width: 350px;
  height: 2px;
  border-radius: 5px;
  background: var(--color-primary);
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin-left: 30px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: var(--color-primary);
  align-items: flex-start;
}

span {
  font-size: 15px;
  padding: 3px;
  color: red;
  margin-left: 10px;
}

button:disabled {
  background: var(--color-primary-disabled);
  pointer-events: none;
}

h2 {
  margin: auto;
  align-items: center;
}

h1 {
  line-height: 90%;
  margin-bottom: 32px;
}

h5 {
  margin-bottom: 24px;
  line-height: 20px;
}

/* ================== MEDIA QUERIES (LARGE DEVICES) ================== */
@media screen and (max-width: 1027px) {
  form {
    grid-template-columns: 1fr;
  }

  .calculator__content {
    width: 98%;
  }

  .calculator__content-input {
    width: 35px;
    margin-left: 600px;
  }

  form .btn {
    font-size: 22px;
    width: 40%;
  }

  .slider {
    width: 85%;
  }

  h2 {
    display: flex;
    margin: 0 1rem 0 auto;
  }
}

/* ================== MEDIA QUERIES (MEDIUM DEVICES) ================== */
@media screen and (max-width: 768px) {
  .calculator__content-input {
    width: 35px;
    margin-left: 380px;
  }

  .slider {
    width: 80%;
  }

  form .btn {
    width: 50%;
  }
}

/* ================== MEDIA QUERIES (SMALL DEVICES) ================== */
@media screen and (max-width: 575px) {
  .calculator__content {
    width: 85%;
  }

  .calculator__content-input {
    width: 28px;
    margin-left: 180px;
  }

  input {
    font-size: 22px;
  }

  .slider {
    width: 65%;
  }

  h1 {
    font-size: 34px;
  }

  .calculator__container h1 {
    font-size: 22px;
    line-height: 20px;
  }

  .calculator__content h2 {
    font-size: 22px;
    line-height: 20px;
  }

  form .btn {
    width: 83%;
  }
}
